.DS_Store
.vscode/launch.json
.vscode/tasks.json
CoffeeApp.CoffeeMachine/bin/Debug/netcoreapp3.1/CoffeeApp.CoffeeMachine.deps.json
CoffeeApp.CoffeeMachine/bin/Debug/netcoreapp3.1/CoffeeApp.CoffeeMachine.dll
CoffeeApp.CoffeeMachine/bin/Debug/netcoreapp3.1/CoffeeApp.CoffeeMachine.pdb
CoffeeApp.CoffeeMachine/bin/Debug/netcoreapp3.1/CoffeeApp.CoffeeMachine.runtimeconfig.dev.json
CoffeeApp.CoffeeMachine/bin/Debug/netcoreapp3.1/CoffeeApp.CoffeeMachine.runtimeconfig.json
CoffeeApp.CoffeeMachine/obj/CoffeeApp.CoffeeMachine.csproj.nuget.dgspec.json
CoffeeApp.CoffeeMachine/obj/CoffeeApp.CoffeeMachine.csproj.nuget.g.props
CoffeeApp.CoffeeMachine/obj/CoffeeApp.CoffeeMachine.csproj.nuget.g.targets
CoffeeApp.CoffeeMachine/obj/project.assets.json
CoffeeApp.CoffeeMachine/obj/project.nuget.cache
CoffeeApp.CoffeeMachine/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
CoffeeApp.CoffeeMachine/obj/Debug/netcoreapp3.1/CoffeeApp.CoffeeMachine.AssemblyInfo.cs
CoffeeApp.CoffeeMachine/obj/Debug/netcoreapp3.1/CoffeeApp.CoffeeMachine.AssemblyInfoInputs.cache
CoffeeApp.CoffeeMachine/obj/Debug/netcoreapp3.1/CoffeeApp.CoffeeMachine.assets.cache
CoffeeApp.CoffeeMachine/obj/Debug/netcoreapp3.1/CoffeeApp.CoffeeMachine.csproj.CoreCompileInputs.cache
CoffeeApp.CoffeeMachine/obj/Debug/netcoreapp3.1/CoffeeApp.CoffeeMachine.csproj.FileListAbsolute.txt
CoffeeApp.CoffeeMachine/obj/Debug/netcoreapp3.1/CoffeeApp.CoffeeMachine.csprojAssemblyReference.cache
CoffeeApp.CoffeeMachine/obj/Debug/netcoreapp3.1/CoffeeApp.CoffeeMachine.dll
CoffeeApp.CoffeeMachine/obj/Debug/netcoreapp3.1/CoffeeApp.CoffeeMachine.genruntimeconfig.cache
CoffeeApp.CoffeeMachine/obj/Debug/netcoreapp3.1/CoffeeApp.CoffeeMachine.pdb
